* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    display: flex;
    color: #343a40;
}

.sidebar {
    width: 250px;
    background-color: #ffffff;
    color: #343a40;
    min-height: 100vh;
    position: fixed;
}

.company-name h1 {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    margin-bottom: 10px;
}

.profile {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #eaecef;
    cursor: pointer;
    text-decoration:none;
}
h3{
    text-decoration:none;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    text-decoration:none; 
}

.menu-label {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: #868e96;
    padding: 10px 20px;
}

.menu ul {
    list-style: none;
}

.menu li {
    padding: 10px 20px;
}

.menu li.active {
    background-color: #007bff;
    color: white;
}

.menu a {
    color: #343a40;
    text-decoration: none;
    display: block;
    transition: color 0.2s ease;
}

.menu a:hover,
.menu li.active a {
    color: white;
}

.main-content {
    margin-left: 250px; /* same as sidebar width */
    flex-grow: 1;
    background-color: #edf2f7;
    width: calc(100% - 250px);
}

.top-bar {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}



.search-container input[type="search"] {
    padding: 8px 15px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 20px;
    outline: none;
}

.content {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .main-content {
        margin-left: 0;
        width: 100%;
    }
    .page-title {
        left: 20px;
    }
}








.products {
      grid-template-columns: 1fr;
    }

    .product-info {
      flex-direction: column;
    }

    .product-info div, .product-info .qr-code {
      flex-basis: 100%;
      margin-bottom: 1rem;
    }

    .product-details img {
      float: none;
      display: block;
      margin: 0 auto 1rem auto; /* Center image */
      width: 50%; /* Adjust image size for mobile */
    }
  }
  
  /* You can also add more specific media queries for different breakpoints, e.g. */
  @media screen and (max-width: 480px) {
    /* Adjust styles for very small screens if necessary */
  }

  :root {
    --sidebar-bg: #E6E7EE;
    --sidebar-active-color: #6F42C1;
    --main-bg: #FFFFFF;
    --text-color: #343A40;
    --secondary-text-color: #6C757D;
    --border-color: #E9ECEF;
  }

  
                                                                                    /*SEARCH FUNCTION*/
  .search-results {
      width: 100%; /* Match the search bar width */
      max-height: 200px; /* Adjust based on your preference */
      overflow-y: auto; /* Enable scrolling for overflow */
      position: absolute; /* Position it below the search bar */
      z-index: 1000; /* Ensure it's above other content */
      background-color: #fff; /* Match your site's design */
      box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds shadow for depth */
      border-radius: 4px; /* Optional: rounds the corners */
  }
  .search-results .result-item {
      padding: 10px;
      border-bottom: 1px solid #eee; /* Adds a separator between items */
      cursor: pointer; /* Indicates an item can be clicked */
  }
  .search-results .result-item:last-child {
      border-bottom: none; /* Removes the bottom border for the last item */
  }
  .search-results .result-item:hover {
      background-color: #f9f9f9; /* Highlight item on hover */
  }

  #searchInput{
      width:400px;
  }

  .header .search {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .header select {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    background-color: var(--main-bg);
  }

  .header input[type="search"] {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }

  .product {
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: var(--main-bg);
  }

  .product h2 {
    font-size: 1rem;
    color: var(--text-color);
    margin: 0.5rem 0;
  }

  .product p {
    font-size: 0.875rem;
    color: var(--secondary-text-color);
    margin: 0;
  }

  .product img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }







  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Shadow effect */
    border-radius: 8px;

    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Hides horizontal scroll bar */
  }



  th, td {
    text-align: left;
    padding: 16px;
    border-bottom: 1px solid #ddd; /* Light border for rows */
  }
  th:first-child, td:first-child {
    padding-left: 24px;
  }
  th:last-child, td:last-child {
    padding-right: 24px;
  }
  th {
    background-color: #f8f8f8;
    color: #333;
    font-weight: normal;
    border-bottom: 2px solid #ddd; /* Heavier border for header row */
  }
  tr:last-child td {
    border-bottom: none;

  }
  .product-image img {
    width: 50px; /* Adjust as necessary */
    height: auto;
    border-radius: 5px;
    cursor: pointer;
  }
  /* Adjust spacing between columns */
  .name-column {
    width: auto;
  }
  .stock-column {
    width: 150px;
  }
  .price-column {
    width: 100px;
  }
  .sales-column {
    width: 100px;
  }
.product-info {
    display: flex;
    justify-content: space-between; /* Space out the sections */
    margin-top: 20px;
  }

  .product-info div {
    flex-basis: 30%; /* Divide the space evenly */
  }

  .product-info .qr-code {
    flex-basis: 15%; /* QR code doesn't need as much space */
    text-align: center; /* Center align the QR code */
  }

  .product-info img {
    max-width: 100%;
    height: auto;
    border-radius: 4px; /* Rounded corners for the QR code */
  }

  .product-info h3 {
    margin-top: 0;
    color: #333;
    font-size: 18px;
  }

  .product-info p {
    color: #666;
    font-size: 14px;
    margin: 5px 0; /* Give some space between paragraphs */
  }

  .product-details {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;

  }

  .product-details img {
    /* Adjust as necessary, assuming a right-floated image */
    float: right;
    margin-left: 20px;
    width: 150px; /* Adjust as necessary */
    height: auto;
    border-radius: 4px;
  }

